<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectcovid19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/covidlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/covidlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectcovid19">
        <activity android:name=".Post_Request"></activity>
        <activity android:name=".Post_Availability" />
        <activity android:name=".Faq_Page" />
        <activity android:name=".Profile" />
        <activity android:name=".Request" />
        <activity android:name=".Availability" />
        <activity
            android:name=".Hospital_Profile"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".User_Profile" />
        <activity android:name=".Question" />
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Otp_screen" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>